.sidebar{
    float: left;
    height: 100%;
    width: 250px;
    clear: both;
    margin-right:0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .nav-title{
        padding:10px 0 5px 10px;
        border-bottom: 1px solid #f5f6fa;
    }
    .nav-link{
        color:#5a5a5a;
    }
    .active{
        background-color: #EFEFEF;
        color: #414040;
        border-left:4px solid #0097e6;
        font-weight: 600;
    }
    .nav-link:hover {
        color: #0097e6;
        transition: 200ms ease-in-out all;
    }
}